@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Estilos generales */
body {
    font-family: 'Fredoka One', sans-serif;
}

.interface-container {
    width: 98vw;
    height: 1vh;

}
/* Estilos del encabezado */
.header {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1px;
    display: flex;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: auto;
    padding: 2px;
    font-size: 1.5rem;
}

/* Contenedor de imagen */
.image-container {
    margin: auto;
    border: 2px solid blue;
    width: 55%;
    height: 80%;
    padding: 12%;
    margin-top: 10px;
}

/* Contenedor de interfaz inferior */
.game-container {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 35vh;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Contenedor de pregunta + barra  #10c10b*/
.question-container {
    border: 2px solid black;
    background: linear-gradient(to right, #FDFC47, #168e04 );
    padding: 11px;
    width: 98%;
    height: 30%;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 5px black;
    margin-bottom: 0;
    border-radius: 8px;
}

.question-number {
    font-size: 2rem;
    margin-bottom: 10px;
}

.question-text {
    font-size: 1.27rem;
}

.timer-text {
    margin-top: 1%;
    font-size: 1.25rem;
}

/* Estilos para el efecto de opacidad */
.overlay-active {
    position: relative;
    opacity: 0.4; /* Cambia esto para ajustar la opacidad */
    transition: opacity 3s ease-in-out;
}

@keyframes p6 {
    100% {
        inset: 0;
    }
}

.time-up-message {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    display: none;
}

/* Contenedor de las respuestas */
.answers-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 99%;
    height: 60%;
    margin-top: 1%;
    margin: auto;
    box-sizing: border-box;
}

.answer-btn {
    font-family: 'Fredoka One';
    border: none;
    box-sizing: border-box; 
    box-shadow: 0 5px 5px black;
    padding: 2.7%;
    font-size: 1.25rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    border: 3px solid #41ff00;
    box-sizing: border-box;
    box-shadow: 0 8px 15px #167200 ;
}

.o1 {
    background-color: red;
}

.o2 {
    background-color: blue;
}

.o3 {
    background-color: yellow;
}

.o4 {
    background-color: #de00ff;
}

/* Estilo para el botón cuando la respuesta es correcta */
.correct-answer {
    position: relative;
    overflow: hidden;
    transition: 2.5s linear;
    z-index: 1;
}

.correct-answer:before,
.correct-answer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: 2.5s linear;
}

.correct-answer:before {
  top: 0;
  left: 0;
  border-top: 4px solid #41ff00;
  border-right: 4px solid #41ff00;
  transform: translateX(-100%);
  box-sizing: border-box;
}

.correct-answer:after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #41ff00;
  border-left: 4px solid #41ff00;
  transform: translateX(100%);
  box-sizing: border-box;
}

.correct-answer:hover:before,
.correct-answer:hover:after {
  transform: translateX(0);
  transition: 2.5s transform linear, 2.5s height linear;
}

.incorrect-answer {
    position: relative;
    overflow: hidden;
    transition: 2.5s linear;
    z-index: 1;
}

.incorrect-answer:before,
.incorrect-answer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: 2.5s linear;
}

.incorrect-answer:before {
  top: 0;
  left: 0;
  border-top: 4px solid #ff0000; /* Rojo */
  border-right: 4px solid #ff0000;
  transform: translateX(-100%);
  box-sizing: border-box;
}

.incorrect-answer:after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ff0000; /* Rojo */
  border-left: 4px solid #ff0000;
  transform: translateX(100%);
  box-sizing: border-box;
}

.incorrect-answer:hover:before,
.incorrect-answer:hover:after {
  transform: translateX(0);
  transition: 2.5s transform linear, 2.5s height linear;
}

/* Media Queries para diseño responsivo */
@media (min-width: 600px) {
    .answers-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .question-text {
        font-size: 1.5rem;
    }

    .answer-btn {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .header h1 {
        font-size: 3rem;
    }

    .question-number {
        font-size: 3rem;
    }

    .question-text {
        font-size: 1.75rem;
    }

    .answer-btn {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .header h1 {
        font-size: 3.5rem;
    }

    .question-number {
        font-size: 3.5rem;
    }

    .question-text {
        font-size: 2rem;
    }

    .answer-btn {
        font-size: 2rem;
    }
}