body {
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-top: 5%;
    font-family: 'Fredoka One', sans-serif;
    font-size: calc(1.5rem + 1vw);
}

.imagenes-empresas {
    display: flex;
    flex-direction: column; /* Siempre en columna */
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
}

.empresas {
    width: 80%; /* Cambié a 80% para pantallas grandes */
    max-width: 200px;
    height: auto;
    margin: 1rem;
    border: 5px solid transparent;
    border-radius: 30px;
}

.inta, .muni, .unraf {
    border: transparent;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.inta {
    box-shadow: 4px 4px 3px #dc504d;
}

.muni {
    box-shadow: 4px 4px 3px #ffdd31;
}

.unraf {
    box-shadow: 4px 4px 8px #1ab8e3;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Pantallas medianas */
    .imagenes-empresas {
        width: 70%;
        flex-direction: row; /* En pantalla mediana las ponemos en fila */
        flex-wrap: wrap;
    }

    .empresas {
        width: 45%; /* Ajusta las imágenes para pantallas medianas */
        max-width: 150px;
    }
}

@media (max-width: 768px) {
    /* Pantallas pequeñas */
    h2 {
        font-size: calc(1.25rem + 1vw);
        margin-top: 10%;
    }

    .imagenes-empresas {
        width: 95%;
        flex-direction: column;
    }

    .empresas {
        width: 60%;
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    /* Pantallas muy pequeñas */
    h2 {
        font-size: calc(1rem + 2vw);
        margin-top: 15%;
    }

    .imagenes-empresas {
        width: 100%;
    }

    .empresas {
        width: 80%;
        max-width: 120px;
    }
}

@media (max-width: 1366px) {
    h2 {
        font-size: calc(1.25rem + 0.8vw); /* Tamaño de fuente ligeramente más pequeño */
        margin-top: 8%; /* Menor margen superior */
    }

    .imagenes-empresas {
        width: 85%; /* Ajusta el ancho para que se vea bien en pantallas más pequeñas */
    }

    .empresas {
        width: 70%; /* Reduce el tamaño de las imágenes en monitores más pequeños */
        max-width: 180px; /* Limita el tamaño máximo de las imágenes */
    }
}

@media (max-width: 1024px) {
    h2 {
        font-size: calc(1.15rem + 1vw); /* Ajusta el tamaño de la fuente en pantallas más pequeñas */
        margin-top: 10%; 
    }

    .imagenes-empresas {
        width: 90%; /* Aumenta el ancho para pantallas más pequeñas */
    }

    .empresas {
        width: 60%; /* Ajusta el tamaño de las imágenes para que se adapten */
        max-width: 160px;
    }
}
