.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 30rem; /* Aumentado desde 20rem a 30rem */
    height: 80%;
    max-height: 30rem; /* Aumentado desde 20rem a 30rem */
    background-color: #8FD14F;
    border: 3px solid #fcef1a ;
    border-radius: 2rem;
    padding: 1.5rem; /* Aumentado desde 1rem a 1.5rem */
    box-shadow: 0 0 25px green;
}

.welcome-text {
    font-size: 1.5rem; /* Aumentado desde 1.25rem a 1.5rem */
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
}

.user-icon {
    width: 12rem; /* Aumentado desde 11rem a 12rem */
    height: 12rem; /* Aumentado desde 11rem a 12rem */
    background-color: #d1d5db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon img {
    width: 100%; /* Ajustado para hacer la imagen más grande dentro del contenedor */
    height: auto;
    border-radius: 50%;
}

/* Responsive styles */
@media (max-width: 600px) {
    .welcome-box {
        width: 80%;
        height: auto;
        padding: 1rem;
    }

    .welcome-text {
        font-size: 1.25rem;
    }

    .user-icon {
        width: 6rem;
        height: 6rem;
    }

    .user-icon img {
        width: 100%; /* Asegura que la imagen ocupe todo el contenedor en pantallas pequeñas */
    }
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    z-index: 1000; /* Asegura que la pantalla negra esté por encima de todo */
}

.black-screen.visible {
    opacity: 1;
    visibility: visible;
}